.sign_up_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    width: 300px;
    height: 250px;
}