.sign_up_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 250px;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 6px;
  /* backdrop-filter: blur(10px); */
}
