h1 {
    font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
    font-size: 36px;
    color: black;
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

input {
	background-color: transparent;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 14px;
	border-radius: 6px;
	border: 1px solid black;
	margin-top: 10%;
	padding: 0.5rem;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

input:focus {
  opacity: 0.6;
  outline: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    width: 300px;
    height: 250px;
}

button {
    padding: 0.5rem 1rem;
}

button.disabled {
	cursor: not-allowed;
    color: rgba(0, 0, 0, 0.6);
}
