.a {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
    font-size: 36px;
    color: black;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 0px 20px 0px 20px;
}

.button {
	margin-top: 9px;
	height: 37px;
}